.pioenvs/
.pio/
.vscode/
.history/
Thumbs.db
.DS_Store
*.orig
*~
*.pyc
.vs/
Debug/
Release/
*.user
*.vcxproj
*.vcxproj.filters
*.suo
/packages
*.rst
*.md
README*
LICENSE*
*.png
*.jpg
*.pdf
doc/
images/
~*~
